
<div class="jumbotron">
	<h1>Eventos Motociclísticos</h1>
</div>

<!--
<div class="alert alert-success" role="alert">
	Sucesso!
</div>

<div class="alert alert-info">
	Informação!
</div>

<div class="alert alert-warning">
	Atenção!
</div>

<div class="alert alert-danger">
	Perigo!
</div>
-->

<div class="page-header">
	Test
</div>

<a ng-href="#/evento" class="btn btn-primary">Novo</a>

<table class="table">
	<thead>
		<tr>
			<th>a</th>
			<th>b</th>
			<th>c</th>
			<th>d</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="evento in eventos">
			<td>
				<a ng-href="#/evento/{{evento._id}}">
					{{evento.nome}}
				</a>
			</td>
			<td>{{evento.data}}</td>
			<td>{{evento.local}}</td>
			<td>{{evento.tipo}}</td>
		</tr>
	</tbody>
</table>